@charset "ISO-8859-1";

#f {
	margin: 200px 0px 0px 450px;
	border: 1px solid black;
	width: 400px;
	background-color: cyan
}

form div {
	height: 50px;
}

input[type="text"] {height =50px
	
}

label {
	font-size: medium;
	font-weight: bold;
}

#btn{
	
	background-color: black;
	border-radius: 20px;
	padding: .3em 2em .4em;
	color: #fff;
	outline: none;
}
#btn1{
	
	background-color: black;
	border-radius: 20px;
	padding: .3em 2em .4em;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
}